body {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}
/* header section  */
.head {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      width: 100%;
      background-color: rgb(240, 240, 240);
      height: 60px;
      align-items: center;
      position: sticky;
      z-index: 1;
      top: 0;
}

.logo img {
      margin: 10px;
      height: 42px;
      width: 42px;
      background-size: cover;
}

.logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      font-size: 31px;
}

.logo span {
      color: rgb(26, 28, 28);
      font-weight: 800;
      letter-spacing: 2px;
}

.head_search input {
      padding: 0 20px;
      margin: 0 7px;
      font-size: 17px;
      height: 30px;
      width: 350px;
      border: none;
      outline: none;
      background-color: transparent;
      color: red;
}

.head_search span img {
      margin: 0 15px;
      height: 20px;
      cursor: pointer;
}

.head_search {
      margin: 0 20px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgb(176, 41, 41);
      border-radius: 10px;
}

.head_search:focus {
      border: 1px solid rgb(232, 234, 189);
}

.head_item {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}

.head_item li {
      list-style: none;
      margin: 0 10px;
      padding: 10px;
}

.head_item li a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 19px;
      font-weight: 700;
      transition: 0.6s;
}

.head_item li img {
      margin-left: 20px;
      height: 30px;
}

.head_item li img:hover {
      opacity: 0.8;
}

@media (max-width: 1024px) {
      .logo {
            font-size: 16px;
            width: 200px;
            flex-direction: column;
            margin: 0;
      }

      .logo img {
            height: 25px;
            width: 25px;
            margin-bottom: 2px;
      }

      .head_search {
            display: none;
      }

      .head_item li a {
            font-size: 16px;
      }

      .head_item li img {
            height: 20px;
      }
}

.nav li a:hover,
.head_item li a:hover {
      color: rgb(139, 112, 112);
}

/* navbar start */

.section2 {
      background: rgb(223, 212, 212);
      margin: 0;
}

.nav {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 20px;
      font-size: 16px;
      background-color: rgb(255, 255, 255);
}

.nav li {
      list-style: none;
      padding: 0 8px;
}

.nav li a {
      text-decoration: none;
      color: black;
      font-weight: 600;
      transition: 0.6s;
}

/* banner sec  */

.img {
      background-image: url(../images/library.png);
      object-fit: cover;
      background-position: center;
      height: auto;
}

.banner,
.trend_section {
      display: flex;
      justify-content: space-between;
      height: auto;
}

.normal_tag {
      font-size: 16px;
      color: rgb(255, 255, 255);
      letter-spacing: 2px;
      font-weight: 900;
}

.text {
      background-color: rgb(240, 216, 208);
}

.text h2,
.sidesection h2 {
      font-size: 17px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-top: 10px;
}

.text a,
.sidesection a {
      text-decoration: none;
      color: rgb(238, 107, 107);
      font-size: 15px;
      font-weight: 500;
      transition: 0.5s;
}

.text p,
.sidesection p {
      font-size: 15px;
      margin: 10px 0;
}

.text a:hover,
.sidesection a:hover {
      color: rgb(40, 166, 245);
      border-bottom: 3px white solid;
      font-size: 17px;
}

.text hr {
      border: none;
      height: 2px;
      background-color: red;
}

.opening_time {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      background-color: rgb(245, 86, 86);
      height: 60px;
      font-size: 16px;
      color: white;
      font-weight: 700;
}

.opening_time span {
      font-size: 22px;
}

@media (max-width: 1024px) {
      .banner,
      .trend_section {
            flex-direction: column;
      }
}

@media (min-width: 720px) {
      .text p,
      .sidesection p {
            font-size: 18px;
            margin-bottom: 20px;
            margin-top: 10px;
      }

      .text h2,
      .sidesection h2 {
            font: 20px;
      }
}

/* trending section  */

.trend_section {
      justify-content: space-between;
      background-color: rgb(234, 243, 245);
      /* height: auto; */
}

.best_seller {
      width: 96%;
      margin-top: 25px;
      background-color: rgb(253, 254, 254);
      color: rgb(6, 6, 6);
}

.best_seller p {
      font-size: 16px;
      margin: 10px 0;
}

.trend h2 {
      position: relative;
      display: inline-block;
      text-decoration: none;
}

.best_seller h2::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70%;
      border-bottom: 2px solid #ff0303;
}

.Bookshelf {
      color: aliceblue;
      justify-content: center;
      align-items: center;
}

.trend_section hr {
      border: none;
      height: 2px;
      background-color: red;
}

.imgeeee {
      overflow: hidden;
      height: 10rem;
      width: 9rem;
      margin: 6px;
      transition: 0.7s ease-in-out;
      position: relative;
      border-radius: 1rem;
}

.imgeeee a {
      display: flex;
      justify-content: center;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.7);
      padding: 10px 0;
      font-weight: 600;
      font-size: 18px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease-in-out;
}

.imgeeee:hover a {
      opacity: 1;
      visibility: visible;
}

/* service  */

.service-our {
      align-items: center;
      color: black;
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 20px;
      border-bottom: 2px solid red;
}

.service img {
      height: 30px;
      width: 30px;
}

.our-services {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
}
.service a {
      width: 25%;
      margin: 30px;
}
